@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  /* buttons */
  .btn-primary{
    @apply text-white inline-flex transition bg-blue-500 hover:bg-blue-600 rounded text-base focus:outline-none border-0;
  }
  .btn-secondary{
    @apply text-gray-700 inline-flex transition bg-gray-100 hover:bg-gray-200 rounded-md text-base focus:outline-none border-0;
  }
  .btn-link{
    @apply text-gray-700 transition hover:opacity-75;
  }

  /* section */
  .section-container{
    @apply min-w-full min-h-screen;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
